<div class="container-fluid" align="right">
   <!-- if on login page, don't show -->


  <% if current_user %>
      <font color="white"><span class="glyphicon glyphicon-user"></span><%= "User: " + current_user.email %></font>
      <br><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      |   <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>


 </div>